@font-face {
  font-family: 'Gilroy'; /* Single font family name */
  font-style: normal;
  font-weight: 300; /* Light weight */
  src: local('Gilroy-Light'), url('Gilroy-Light.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400; /* Regular weight */
  src: local('Gilroy-Regular'), url('Gilroy-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500; /* Medium weight */
  src: local('Gilroy-Medium'), url('Gilroy-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600; /* Bold weight */
  src: local('Gilroy-Bold'), url('Gilroy-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700; /* Heavy weight */
  src: local('Gilroy-Heavy'), url('Gilroy-Heavy.woff') format('woff');
}
